{% extends 'layout.html' %}
    
    {% block title %}
        Post Tweet
    {% endblock %}
    
    {% block content %}
        <h1 class="text-center mt-4">Welcome to Tweet Project</h1>
        <form action="/posttweet/post/" method="post">
            {% csrf_token %}
            <input type="text" name="tweet" placeholder="What's happening?">
            <input type="submit" value="Post">
        </form>
        <h2 class="text-white">Tweets</h2>
        <ul>
            {% for tweet in tweets %}
                <li>{{ tweet.tweet }}</li>
            {% endfor %}
        </ul>
    {% endblock %}
