{% extends "layout.html" %}
{% block title %} Contact {% endblock title %} 
{% block content %}
<link href="static/css/contact.css" rel="stylesheet">
<div class="container contactpage">
    <h1 class="text-center">Contact Us</h1>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"/>
        <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" placeholder="First and last name"/>
        <label for="name">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="phone" class="form-control" id="phone" name="phonenumber" placeholder="98xxxxxxxx"/>
        <label for="phonenumber">Phone number</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" id="desc" placeholder="Leave a comment here" name="textarea" id="floatingTextarea"
            style="height: 100px"></textarea>
        <label for="floatingTextarea2Disabled">Comments</label>
    </div>
    <div class="form-floating">
        <select class="form-select" id="floatingSelect" name="selectoption" aria-label="Floating label">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <label for="floatingSelect">Works with selects</label>
    </div>
</div>
{% endblock content %}